.create-product-form {
  max-width: 600px;
  margin: 0 auto;
  padding: 1rem;
}

.tag-button {
  padding: 4px 8px; /* Adjust padding for small size */
  border: 1px solid black; /* Black border */
  border-radius: 20px; /* Oval shape */
  background-color: white; /* White background */
  color: green; /* Green text */
  transition: background-color 0.3s, color 0.3s; /* Smooth transition for hover effect */
}

.tag-button:hover {
  background-color: green; /* Change background on hover */
  color: white; /* Change text color on hover */
}

@media (max-width: 768px) {
  .create-product-form {
      max-width: 100%;
      padding: 0.5rem;
  }

  .form-input {
      font-size: 14px;
  }

  .submit-button {
      font-size: 16px;
      padding: 10px;
  }

  .image-preview {
      max-width: 100%;
      height: auto;
  }
}

.form-input {
  margin-bottom: 1rem;
  width: 100%;
  box-sizing: border-box;
}

.submit-button {
  margin-top: 1rem;
  width: 100%;
  box-sizing: border-box;
}

.image-preview {
  max-width: 100%;
  height: auto;
  margin-top: 1rem;
}

.feedback {
  color: red;
  margin-top: 1rem;
}
