/* Login.css */
.headerBox {
    text-align: center;
    padding: 60px 30px; /* Increased padding for a larger look */
    border: 5px solid #b0652b; /* Orange border for warmth */
    border-radius: 15px;
    background-color: #ffffff; /* Pure white background */
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2); /* Soft shadow for depth */
    margin: auto;
    max-width: 700px; /* Increased max-width for a larger box */
}

.subHeader {
    font-size: 1.8em; /* Slightly larger font size */
    margin-bottom: 20px;
    font-weight: bold;
    color: #4d4d4d; /* Medium gray for subheader */
}

.headerBlue {
    font-size: 3em; /* Larger font size for header */
    color: #3b2e24; /* Dark brown */
}

.headerBlack {
    color: #101010; /* Almost black for contrast */
}

.createAccountText {
    display: block;
    margin-top: 20px;
    font-size: 1.4em; /* Slightly larger font size */
    color: #4d4d4d; /* Medium gray for text */
}

.linkStyle {
    color: #00b300; /* Bright green for the link */
    text-decoration: underline; /* Underlined link */
    font-weight: bold;
}

.linkStyle:hover {
    color: #009900; /* Darker green on hover */
}

hr {
    margin: 40px 0;
    border: 1px solid #3b2e24; /* Dark brown line */
}
